:root {
  --bg: #f2f0eb;
  --text: #0a0a0a;
  --text-secondary: #4a4a4a;
  --accent: maroon;
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

#koordinaten {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: var(--font-display);
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--text-secondary);
  pointer-events: none;
  z-index: 100;
}


body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  margin: 0;
  padding: 40px;
}

h1 {
  font-family: var(--font-display);
  font-size: 48px;
  color: var(--text);
}

p {
  color: var(--text-secondary);
  line-height: 1.6;
}

.status-block {
  font-family: var(--font-display);
  border: 1px solid var(--text);
  padding: 20px;
  margin: 40px 0;
  max-width: 400px;
}

.status-line {
  font-size: 14px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.status-line span {
  color:var(--accent);
  font-weight: 700;
}

section {
  margin-bottom: 80px;
  max-width: 700px;
}

#about::before {
  content: "01 / ABOUT MEEE";
  display: block;
  font-family: var(--font-display);
  font-size: 14px;
  letter-spacing: 2px;
  color:var(--accent);
  margin-bottom: 16px;
}

#interests::before {
  content: "02 / CURRENTLY";
  display: block;
  font-family: var(--font-display);
  font-size: 14px;
  letter-spacing: 2px;
  color:var(--accent);
  margin-bottom: 16px;
}

#status::before {
  content: "03 / STATUS";
  display: block;
  font-family: var(--font-display);
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--accent);
  margin-bottom: 16px;
}


.status-block {
  font-family: var(--font-display);
  border: 1px solid var(--text);
  padding: 20px;
  margin: 40px 0;
  max-width: 400px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.status-block:hover {
  transform: translateY(-4px);
  border-color: var(--accent);
}

section {
  margin-bottom: 80px;
  max-width: 700px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

#scroll-fortschritt {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--accent);
  z-index: 200;
  transition: width 0.1s ease;
}


#wiesel {
  position: fixed;
  left: 0;
  top: 50%;

  font-size: 25px;

  z-index: 300;

  cursor: pointer;

  user-select: none;

  opacity: 1;

  transition:
    left 2s linear,
    top 2s linear,
    opacity 0.3s ease;
}